@font-face {
    font-family: Praho-Black;
    src: url('/fonts/Praho-Black/Praho-Black.otf');
}

@font-face {
    font-family: Zaklad-Regular;
    src: url('/fonts/Zaklad-Regular/Zaklad-Regular.otf');
}

@font-face {
    font-family: Cyklop-Regular;
    src: url('/fonts/Cyklop-Regular/Cyklop-Regular.otf');
}